@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
--white: hsl(0, 0%, 100%);
--light-gray: hsl(212, 45%, 89%);
--grayish-blue: hsl(220, 15%, 55%);
--dark-blue: hsl(218, 44%, 22%);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.attribution { 
    margin-top: .5rem;
    font-size: 11px; text-align: center;
 }
.attribution a { 
    color: var(--dark-blue);
 }

body {
    background-color: var(--light-gray);
    font-family: Outfit, sans-serif;
    height: 100vh;
    padding: 1.75rem;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: var(--white);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    box-shadow: 0 3px 5px rgba(158, 158, 158, 0.65);
}

.container h1{
    color: var(--dark-blue);
    font-size: 1.25rem;
}

.container p{
    font-size: 15px;
    color:hsl(220, 15%, 55%)
}

.container img{
    max-width: 100%;
    height: auto;
    border-radius: .5rem;
}

@media (min-width: 375px) {
    .container{
        width: 320px;
    } 
 }